{% extends "base.html" %}
{% load static %}

{% block content %}



<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map">
    <script type="text/javascript">
      var openInfoWindow;
      var locations = {{data|safe}};
// This example displays a marker at the center of Australia.
// When the user clicks the marker, an info window opens.

function initMap() {

  var Augies = {lat: 33.986872, lng: -117.808030};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: Augies }
  );
  let marker;
  for( let i = 0; i <= locations.length; i++) {
    marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i]['latitude'], locations[i]['longitude']),
        map: map,
        title: locations[i]['name']
    });
    var name = locations[i]['name']
    var base = "http://127.0.0.1:8000/shops/"
    var website = locations[i]['slug']
    var bio = locations[i]['about']
    var a = base + website
    var b = "<a href="+a+"/><b>"+name+"</b></a>"
    var c = "<p>"+bio+"</p>"


    var text = b + c
      var infowindow = new google.maps.InfoWindow()

      google.maps.event.addListener(marker,'click', (function(marker,text,infowindow){
        return function() {

       if (openInfoWindow)
         openInfoWindow.close();

          infowindow.setContent(text);
          openInfoWindow = infowindow;
          infowindow.open(map,marker);

        };
    })(marker,text,infowindow));
}
}
    </script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU0_1-g0ZZOOOT3YmVL-UI2RVyoLVnJHM&callback=initMap" async defer></script>







{% endblock content %}