{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAU0_1-g0ZZOOOT3YmVL-UI2RVyoLVnJHM"></script>

<script>
var searchInput = 'id_street_address';

$(document).ready(function () {
    var autocomplete;
    autocomplete = new google.maps.places.Autocomplete((document.getElementById('id_street_address')), {
        types: ['geocode'],
    });

    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var near_place = autocomplete.getPlace();
        document.getElementById('id_latitude').value = near_place.geometry.location.lat();
        document.getElementById('id_longitude').value = near_place.geometry.location.lng();

        document.getElementById('id_address_latitude').innerHTML = near_place.geometry.location.lat();
        document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();
    });
});
</script>
<script>
$(document).on('change', '#'+searchInput, function () {
    document.getElementById('latitude_input').value = '';
    document.getElementById('longitude_input').value = '';

    document.getElementById('latitude_view').innerHTML = '';
    document.getElementById('longitude_view').innerHTML = '';
});
</script>

<div class="container">
  <div class="row">
    {% crispy form %}
  </div>
</div>

{% endblock content %}